@use '@/styles/global' as *;

.annotationText {
  display: flex;
  gap: pxrem(16);

  p {
    padding: pxrem(10);
    font-style: italic;
  }

  &::before {
    content: '';
    display: block;
    width: pxrem(4);
    height: auto;
    background-color: $p-color_grey_100;
  }
}
