/*********************************
    画像アスペクト比
*********************************/

@mixin image-aspect-ratio($modifer: "ratio_16-9") {
    @if $modifer == "ratio_16-9" {
        height: fit-content;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    } @else if $modifer == "ratio_3-2" {
        height: fit-content;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    } @else if $modifer == "ratio_4-3" {
        height: fit-content;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    } @else if $modifer == "ratio_1-1" {
        height: fit-content;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}
