@use '@/styles/global' as *;

.button {
  position: relative;
  display: inline-block;
  width: fit-content;
  min-width: pxrem(150);
  max-width: 100%;
  padding: pxrem(15) pxrem(40);
  color: $s-color_text_on-fill;
  @include text-style(button_m);
  text-decoration: none;
  text-align: center;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $p-color_brand-main_primary;
    border: 1px solid transparent;
    border-radius: 100px;
    transition: $transition_high;
    z-index: -1;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        top: pxrem(-10);
        left: pxrem(-10);
        right: pxrem(-10);
        bottom: pxrem(-10);
      }
    }
  }

  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      &::before {
        top: pxrem(-10);
        left: pxrem(-10);
        right: pxrem(-10);
        bottom: pxrem(-10);
      }
    }
  }

  &[data-modifierColor='secondary'] {
    color: $p-color_brand-main_primary;

    &::before {
      background-color: $p-color_white;
      border: 1px solid $p-color_brand-main_primary;
    }
  }
}

.buttonCase {
  position: relative;
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  padding: pxrem(15) pxrem(40);
  color: $p-color_brand-main_primary;
  @include text-style(button_m);
  text-decoration: none;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $p-color_white;
    border: 1px solid $p-color_brand-main_primary;
    border-radius: 100px;
    transition: $transition_high;
    z-index: -1;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        background-color: $p-color_brand-main_tertiary;
      }
    }
  }

  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      &::before {
        background-color: $p-color_brand-main_tertiary;
      }
    }
  }

  &[data-modifier='current'] {
    color: $s-color_text_on-fill;
    pointer-events: none;

    &::before {
      background-color: $p-color_brand-main_primary;
      border: 1px solid transparent;
    }
  }

  @include media(sp) {
    width: 100%;
    padding: pxrem(10) pxrem(30);
    @include text-style(button_s);
  }
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: pxrem(20);

  &[data-modifierType='case'] {
    margin-bottom: pxrem(80);
    gap: pxrem(10);

    @include media(sp) {
      flex-direction: column;
    }
  }
}
