@use '@/styles/global' as *;

.classLabel {
  display: inline-block;
  width: fit-content;
  padding: pxrem(5) pxrem(20);
  background-color: $p-color_brand-main_primary;
  border-radius: 100px;
  color: $s-color_text_on-fill;
  @include font($font-size_s);
  line-height: $line-height_s;
  font-weight: $font-weight_m;

  &[data-modifier='single'] {
    padding: pxrem(8) pxrem(25);
    @include font($font-size_m);
  }
}

.classLabelGroup {
  display: flex;
  flex-wrap: wrap;
  gap: pxrem(5);

  &[data-modifier='single'] {
    gap: pxrem(10);
  }
}
