@use '@/styles/global' as *;

.ctaArea {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $p-color_brand-sub_primary;

  @include media(sp) {
    flex-direction: column;
  }
}

.innerFerst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: pxvw(580);
  height: 100%;
  padding: 0 pxrem(40) 0 max(calc(pxvw(580) - (pxrem(460))), pxvw(120));
  gap: pxrem(20);

  @include media(sp) {
    width: 100%;
    padding: pxrem(40);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.english {
  font-family: $font-family_secondary;
  color: $s-color_text_on-fill;
  @include font(min(pxvw(64), pxrem(64)));
  line-height: $line-height_s;
  font-weight: $font-weight_l;

  @include media(sp) {
    @include font(min(pxvw(48), pxrem(48)));
  }
}

.japaniseWrapper {
  display: flex;
  align-items: center;
  gap: pxrem(10);
}

.line {
  width: pxrem(60);
  height: pxrem(1);
  background-color: $p-color_white;
}

.japanise {
  color: $s-color_text_on-fill;
  @include font(min(pxvw(24), $font-size_xxl));
  line-height: $line-height_s;
  font-weight: $font-weight_r;

  @include media(sp) {
    @include font(min(pxvw(20), $font-size_xl));
  }
}

.text {
  color: $s-color_text_on-fill;
}

.innerSecond {
  position: relative;
  flex: 1;
  height: pxrem(300);
  overflow: hidden;

  @include media(sp) {
    flex: none;
    width: 100%;
    height: min(pxvw(300), pxrem(300));
  }
}

.image {
  position: absolute;
  top: 50%;
  left: 0;
  width: pxvw(1000);
  max-width: none;
  height: auto;
  background-color: white;
  transform: translateY(-50%);
  z-index: 1;

  @media (min-width: 1640px) {
    width: calc(pxvw(1000) * 0.9);
  }

  @media (max-width: 1240px) {
    width: calc(pxvw(1000) * 1.1);
  }

  @media (max-width: 1040px) {
    width: calc(pxvw(1000) * 1.2);
  }

  @include media(sp) {
    left: 50%;
    width: calc(pxvw(1000) * 0.49);
    transform: translateY(-52%) translateX(-44%);
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: pxvw(718);
  height: 100%;
  background: linear-gradient(
    90deg,
    $p-color_brand-sub_primary 0%,
    transparent 50%
  );
  z-index: 2;

  @include media(sp) {
    width: 100%;
    background: linear-gradient(
      180deg,
      $p-color_brand-sub_primary 0%,
      transparent 33%
    );
  }
}

.buttonWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(pxrem(340), pxvw(528));
  height: 100%;
  z-index: 3;

  @include media(sp) {
    align-items: flex-end;
    width: 100%;
    padding-bottom: pxvw(40);
  }
}

.button {
  position: relative;
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  padding: pxrem(20) pxrem(40);
  color: $p-color_brand-main_primary;
  @include font($font-size_xl);
  line-height: $line-height_s;
  font-weight: $font-weight_r;
  text-decoration: none;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $p-color_white;
    border: 1px solid $p-color_brand-main_primary;
    border-radius: 100px;
    transition: $transition_high;
    z-index: -1;
  }

  @include media(sp) {
    @include font(min(pxvw(20), $font-size_xl));
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        top: pxrem(-10);
        left: pxrem(-10);
        right: pxrem(-10);
        bottom: pxrem(-10);
      }
    }
  }

  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      &::before {
        top: pxrem(-10);
        left: pxrem(-10);
        right: pxrem(-10);
        bottom: pxrem(-10);
      }
    }
  }
}
