@use '@/styles/global' as *;

.cardGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: pxrem(40);

  @include media(sp) {
    flex-direction: column;
  }

  > div,
  > a {
    width: calc((100% - (pxrem(40) * 2)) / 3);

    @include media(sp) {
      width: 100%;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  display: block;
  border: none;
  text-decoration: none;
  transition: $transition_middle;

  @media (hover: hover) {
    &:hover {
      .imgWrapper {
        img {
          transform: scale(1.2);
        }
      }

      .body {
        p {
          opacity: 0.5;
        }
      }
    }
  }

  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      .imgWrapper {
        img {
          transform: scale(1.2);
        }
      }

      .body {
        p {
          opacity: 0.5;
        }
      }
    }
  }

  .imgWrapper {
    width: 100%;
    border-radius: 16px 0px 16px 0px;
    overflow: hidden;

    img {
      @include image-aspect-ratio(ratio_16-9);
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: pxrem(20) 0;
    gap: pxrem(20);

    p {
      color: $s-color_text_body;
      @include font($font-size_xl);
      line-height: $line-height_s;
    }
  }
}
