@use '@/styles/global' as *;

$s: pxrem(2.88);

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxrem(48);
  min-width: pxrem(48);
  height: pxrem(48);

  .hamburgerBorder {
    background: $p-color_grey_900;
    width: $s * 10;
    height: pxrem(1);
    position: relative;
    transition: background 10ms 200ms ease;

    &:before,
    &:after {
      transition: top 200ms 250ms ease, transform 200ms 50ms ease;
      position: absolute;
      background: $p-color_grey_900;
      width: $s * 10;
      height: pxrem(1);
      content: '';
    }
    &:before {
      top: $s * -3;
    }

    &:after {
      top: $s * 3;
    }
  }

  &[data-modifier='active'] {
    .hamburgerBorder {
      background: transparent;
      &:after,
      &:before {
        transition: top 200ms 50ms ease, transform 200ms 250ms ease;
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  @include media(header-pc) {
    display: none;
  }
}
