@use '@/styles/global' as *;

.dropdownItem {
  position: relative;
  height: 100%;

  > a,
  > button {
    display: flex;
    align-items: center;
    width: pxrem(120);
    height: 100%;
    color: $s-color_menu-link_normal;
    @include font($font-size_l);
    line-height: $line-height_s;
    font-weight: $font-weight_l;
    text-decoration: none;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        border-bottom: $p-color_brand-main_primary 2px solid;

        span:first-child {
          transform: rotateX(90deg);
          opacity: 0;
        }

        span:last-child {
          transform: translateY(-50%) translateX(-50%) rotateX(0deg);
          opacity: 1;
        }
      }
    }

    @media (hover: none) {
      -webkit-tap-highlight-color: transparent;

      &:active {
        border-bottom: $p-color_brand-main_primary 2px solid;

        span:first-child {
          transform: rotateX(90deg);
          opacity: 0;
        }

        span:last-child {
          transform: translateY(-50%) translateX(-50%) rotateX(0deg);
          opacity: 1;
        }
      }
    }

    span {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      transition: transform $transition_middle ease,
        opacity $transition_middle ease;
    }

    span:first-child {
      font-family: $font-family_secondary;
      transform-origin: top;
    }

    span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) rotateX(90deg);
      transform-origin: bottom;
      opacity: 0;
    }
  }
}
