@use '@/styles/global' as *;

.drawerItem {
  > a,
  > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-bottom: $p-color_grey_200 1px solid;
    color: $s-color_menu-link_normal;
    line-height: $line-height_s;
    font-weight: $font-weight_l;
    text-decoration: none;
    transition: $transition_high;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    @media (hover: none) {
      -webkit-tap-highlight-color: transparent;

      &:active {
        opacity: 0.5;
      }
    }

    span:first-child {
      font-family: $font-family_secondary;
      @include font($font-size_xxl);
    }

    span:last-child {
      @include font($font-size_s);
      line-height: $line-height_m;
    }
  }
}
