@use '@/styles/global' as *;
.pageVisual {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: min(pxvw(400), pxrem(400));

  @include media(sp) {
    height: pxrem(300);
  }

  .imageWrapper {
    position: absolute;
    top: pxrem(20);
    right: 0;
    width: pxvw(1060);
    height: min(pxvw(300), pxrem(300));
    border-radius: 48px 0px 0px 0px;
    overflow: hidden;
    z-index: 1;

    @include media(sp) {
      width: pxvw(320);
      height: pxrem(200);
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;

    &[data-modifier='about'] {
      object-position: 50% 0%;
    }

    &[data-modifier='service'] {
      object-position: 50% 30%;
    }

    &[data-modifier='case'] {
      object-position: 50% 75%;
    }

    &[data-modifier='news'] {
      object-position: 50% 30%;
    }

    &[data-modifier='contact'] {
      object-position: 50% 35%;
    }

    @include media(sp) {
      &[data-modifier='about'] {
        object-position: 80% 50%;
      }

      &[data-modifier='service'] {
        object-position: 100% 50%;
      }

      &[data-modifier='case'] {
        object-position: 15% 50%;
      }

      &[data-modifier='news'] {
        object-position: 55% 50%;
      }

      &[data-modifier='contact'] {
        object-position: 55% 50%;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    width: pxvw(780);
    padding: pxrem(20) 0 pxrem(40) max(calc(pxvw(780) - (620px)), pxvw(160));
    border-radius: 0 0 48px 0;
    background-color: $p-color_brand-main_primary;
    z-index: 2;

    @include media(sp) {
      width: pxvw(360);
      padding: pxrem(20) 0 pxrem(40) pxvw(40);
    }
  }

  .english {
    font-family: $font-family_secondary;
    color: $s-color_text_on-fill;
    @include font(min(pxvw(80), pxrem(80)));
    line-height: $line-height_s;
    font-weight: $font-weight_l;
    display: flex;
    overflow: hidden;

    @include media(sp) {
      @include font(min(pxvw(48), pxrem(48)));
    }

    &[data-modifier='active'] {
      span {
        transform: translate(0, 0);
      }
    }

    span {
      display: block;
      transform: translate(0, 105%);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    }

    span {
      @for $i from 1 through 13 {
        &:nth-child(#{$i + 1}) {
          $delay: $i * 0.1 + s;
          transition-delay: $delay;
        }
      }
    }
  }

  .japaniseWrapper {
    display: flex;
    align-items: center;
    gap: pxrem(10);
  }

  .line {
    width: pxrem(60);
    height: pxrem(1);
    background-color: $p-color_white;
  }

  .japanise {
    color: $s-color_text_on-fill;
    @include font(min(pxvw(24), $font-size_xxl));
    line-height: $line-height_s;
    font-weight: $font-weight_r;

    @include media(sp) {
      @include font(min(pxvw(20), $font-size_xl));
    }
  }
}
