@use '@/styles/global' as *;

.inputArea {
  display: none;
  flex-direction: column;
  gap: pxrem(40);

  &[data-modifier='active'] {
    display: flex;
  }
}

.confirmArea {
  display: none;
  flex-direction: column;
  gap: pxrem(40);

  &[data-modifier='active'] {
    display: flex;
  }
}
