@use '@/styles/global' as *;

.map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: pxrem(40);
  aspect-ratio: 16 / 9;

  @include media(sp) {
    aspect-ratio: 1 / 1;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
