@use '@/styles/global' as *;

.contentHeader {
  display: flex;
  flex-direction: column;
  padding-bottom: pxrem(40);
  gap: pxrem(20);
  border-bottom: 1px solid $p-color_grey_500;
}

.contentHeaderTop {
  display: flex;

  time {
    @include font($font-size_s);
    line-height: $line-height_s;
    white-space: nowrap;
  }
}

.contentBody {
  display: flex;
  flex-direction: column;
  gap: pxrem(20);
}

.contentFooter {
  display: flex;
  justify-content: center;
  padding-top: pxrem(40);
}
