@use '@/styles/global' as *;

.postArea {
  display: flex;
  flex-direction: column;
  gap: pxvw(20);

  h2 {
    position: relative;
    color: $s-color_text_body;
    @include text-style(heading_second_pc);
    padding-left: pxrem(20);
    margin-top: pxrem(80);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: pxrem(39);
      background-color: $s-color_text_body;
    }

    &:first-child {
      margin-top: 0;
    }

    @include media(sp) {
      @include text-style(heading_second_sp);

      &::before {
        height: pxrem(34);
      }
    }
  }

  h3 {
    color: $s-color_text_body;
    @include text-style(heading_third_pc);
    margin-top: pxrem(40);

    :first-child {
      margin-top: 0;
    }

    @include media(sp) {
      @include text-style(heading_third_sp);
    }
  }

  blockquote {
    display: flex;
    gap: pxrem(16);

    p {
      padding: pxrem(10);
      font-style: italic;
    }

    &::before {
      content: '';
      display: block;
      width: pxrem(4);
      height: auto;
      background-color: $p-color_grey_100;
    }
  }

  hr {
    width: 100%;
    border-color: $s-color_border_divider;
  }

  table {
    display: inline-block;
    border-spacing: 0;
    border-collapse: separate;

    tr {
      &:first-child > * {
        border-top: 1px solid $s-color_border_field;
      }
    }

    th {
      padding: pxrem(10);
      border: none;
      border-right: 1px solid $s-color_border_field;
      border-bottom: 1px solid $s-color_border_field;
      background-color: $p-color_brand-main_tertiary;
      line-height: $line-height_s;
      font-weight: $font-weight_r;
      vertical-align: middle;

      &:first-child {
        border-left: 1px solid $s-color_border_field;
      }
    }

    td {
      padding: pxrem(10);
      border: none;
      border-right: 1px solid $s-color_border_field;
      border-bottom: 1px solid $s-color_border_field;
      line-height: $line-height_s;
      vertical-align: middle;

      &:first-child {
        border-left: 1px solid $s-color_border_field;
      }
    }
  }

  $solid-circle-icon: 'data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C!--!Font%20Awesome%20Free%206.6.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202024%20Fonticons%2C%20Inc.--%3E%3Cpath%20fill%3D%22%231a1a1a%22%20d%3D%22M256%20512A256%20256%200%201%200%20256%200a256%20256%200%201%200%200%20512z%22%2F%3E%3C%2Fsvg%3E';

  ul {
    display: flex;
    flex-direction: column;
    gap: pxrem(10);

    > li {
      position: relative;
      padding-left: pxrem(18);
      line-height: $line-height_s;

      &::before {
        content: url($solid-circle-icon);
        position: absolute;
        top: pxrem(-4);
        left: pxrem(4);
        width: pxrem(4);
      }
    }
  }

  ol {
    counter-reset: order-list;
    display: flex;
    flex-direction: column;
    gap: pxrem(10);

    > li {
      position: relative;
      padding-left: pxrem(19);
      line-height: $line-height_s;

      &::before {
        counter-increment: order-list;
        content: counter(order-list) '.';
        position: absolute;
        top: 0;
        left: 0;
        line-height: $line-height_s;
      }
    }
  }
}
