@use '@/styles/global' as *;

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height_pc;
  z-index: $z-index_header;
  transition: $transition_middle;

  @media (hover: hover) {
    &:hover {
      background-color: $p-color_opacity_white_095;
    }
  }

  @include media(header-sp) {
    height: $header-height_sp;
  }

  &[data-modifier='active'] {
    background-color: $p-color_opacity_white_095;
    transition-delay: 0s;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 pxrem(40);

    @include media(header-sp) {
      padding: 0 pxrem(10);
    }
  }

  .navPc {
    height: 100%;

    @include media(header-sp) {
      display: none;
    }
  }

  .iconSP {
    display: none;
    gap: pxrem(10);

    @include media(header-sp) {
      display: flex;
    }
  }

  .navSP {
    position: absolute;
    top: 0;
    right: 0;

    @include media(header-pc) {
      display: none;
    }
  }
}
