@use '@/styles/global' as *;

.newsPostsItem {
  a {
    display: flex;
    flex-direction: column;
    padding: pxrem(20) 0;
    border-bottom: 1px solid $p-color_grey_300;
    color: $s-color_menu-link_normal;
    text-decoration: none;
    line-height: $line-height_s;
    gap: pxrem(10);
    transition: $transition_middle;

    @media (hover: hover) {
      &:hover {
        padding-left: pxrem(40);
      }
    }

    @media (hover: none) {
      -webkit-tap-highlight-color: transparent;

      &:active {
        padding-left: pxrem(40);
      }
    }

    p {
      position: relative;
      padding-left: pxrem(20);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: pxrem(22);
        background-color: $p-color_brand-main_primary;
      }
    }
  }

  time {
    @include font($font-size_s);
  }
}
