@use '@/styles/global' as *;

.containerBg {
  width: 100%;
  margin-top: -1px; //小数点以下の隙間を調整

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 72px 0px 0px 0px;
    overflow: hidden;

    @include media(sp) {
      border-radius: 36px 0px 0px 0px;
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(pxrem(1200) + pxrem(160));
    padding: pxrem(160) pxrem(80);
    z-index: 1;

    @include media(sp) {
      padding: pxrem(160) pxrem(40);
    }
  }

  &[data-modifier='about'] {
    .container {
      background-color: $p-color_brand-main_primary;
      border-radius: 0;
    }
  }

  &[data-modifier='service'] {
    background-color: $p-color_brand-main_primary;

    .container {
      background-color: $p-color_white;
    }
  }

  &[data-modifier='case'] {
    background-color: $p-color_white;

    .container {
      background-color: $p-color_brand-main_tertiary;
    }
  }

  &[data-modifier='news'] {
    background-color: $p-color_brand-main_tertiary;

    .container {
      background-color: $p-color_white;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .backgroundInner {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .line1 {
      position: absolute;
      top: 0;
      left: pxvw(630);
      width: 1px;
      height: 300%;
      background-color: $p-color_brand-main_tertiary;
      transform-origin: top;
      transform: rotate(30deg);

      @include media(sp) {
        left: pxvw(300);
      }
    }

    .line2 {
      position: absolute;
      top: 0;
      left: pxvw(750);
      width: 1px;
      height: 300%;
      background-color: $p-color_brand-main_tertiary;
      transform-origin: top;
      transform: rotate(30deg);

      @include media(sp) {
        left: pxvw(400);
      }
    }
  }
}
