@use '@/styles/global' as *;

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.topbox {
  position: absolute;
  top: 0;
  left: 0;
  width: pxvw(760);
  height: pxvw(600);
  border-right: solid 1px $p-color_brand-main_tertiary;
  border-bottom: solid 1px $p-color_brand-main_tertiary;
  border-radius: 0 0 pxvw(200) 0;

  @include media(sp) {
    width: pxvw(200);
    height: pxvw(600);
    border-radius: 0 0 pxvw(50) 0;
  }

  &[data-modifier='hide'] {
    display: none;
  }
}

.line1 {
  position: absolute;
  top: 0;
  left: pxvw(630);
  width: 1px;
  height: 200%;
  background-color: $p-color_brand-main_tertiary;
  transform-origin: top;
  transform: rotate(30deg);

  @include media(sp) {
    left: pxvw(300);
  }
}

.line2 {
  position: absolute;
  top: 0;
  left: pxvw(750);
  width: 1px;
  height: 200%;
  background-color: $p-color_brand-main_tertiary;
  transform-origin: top;
  transform: rotate(30deg);

  @include media(sp) {
    left: pxvw(400);
  }
}

.bottombox {
  position: absolute;
  top: pxvw(300);
  right: 0;
  width: pxvw(500);
  height: calc(100% - pxvw(300));
  background-color: $p-color_brand-main_quaternary;
  border-radius: pxvw(200) 0 0 0;

  @include media(sp) {
    width: pxvw(150);
    border-radius: pxvw(50) 0 0 0;
  }

  &[data-modifier='hide'] {
    display: none;
  }
}
