@use '@/styles/global' as *;

.footerNav {
  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: pxrem(20);
    padding: pxrem(40) 0 0;

    @include media(sp) {
      justify-content: flex-start;
      max-width: none;
      gap: pxrem(10) pxrem(20);
      padding: pxrem(40) pxrem(20) 0;
    }
  }

  li {
    line-height: $line-height_same;

    @include media(sp) {
      width: calc((100% - pxrem(20)) / 2);
    }
  }

  a {
    color: $s-color_text_on-fill;
    @include font($font-size_s);
    font-weight: $font-weight_r;
    line-height: $line-height_s;
    text-decoration: none;
    transition: $transition_high;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    @media (hover: none) {
      -webkit-tap-highlight-color: transparent;

      &:active {
        opacity: 0.5;
      }
    }
  }
}
