@use '@/styles/global' as *;

.parallaxBg {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .sticky {
    position: sticky;
    bottom: 0;
    align-self: flex-end;
    overflow: hidden;
  }

  .motion {
    width: pxvw(1810);
    max-width: none;
  }
}
