@use '@/styles/global' as *;

.dropdown {
  display: flex;
  align-items: center;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  gap: pxrem(20);
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxrem(134);
  height: pxrem(60);
  background-color: $p-color_brand-sub_primary;
  border-radius: 8px;
  color: $s-color_text_on-fill;
  @include font($font-size_l);
  line-height: $line-height_s;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;

  @media (hover: hover) {
    &:hover {
      &::before {
        left: 0;
      }

      span:first-child {
        opacity: 0;
      }

      span:last-child {
        opacity: 1;
      }
    }
  }

  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      &::before {
        left: 0;
      }

      span:first-child {
        opacity: 0;
      }

      span:last-child {
        opacity: 1;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $p-color_brand-sub_secondary;
    z-index: 0;
    transition: $transition_middle;
  }

  span {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
    transition: $transition_middle;
  }

  span:first-child {
    font-family: $font-family_secondary;
  }

  span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transform-origin: bottom;
    opacity: 0;
  }
}
