@use '@/styles/global' as *;

.inputArea,
.confirmArea {
  display: none;
  flex-direction: column;
  gap: pxrem(40);

  &[data-modifier='active'] {
    display: flex;
  }
}

.explanation {
  display: flex;
  flex-direction: column;
  gap: pxrem(20);

  .strong {
    @include font($font-size_xxl);
  }
}

.formArea {
  display: flex;
  flex-direction: column;
  padding-top: pxrem(60);
  gap: pxrem(40);

  &[data-modifier='on-error'] {
    .error {
      display: inline;
    }
  }
}

.formUnit {
  display: flex;
  flex-direction: column;
  gap: pxrem(10);

  &[data-modifier='radio'] {
    gap: pxrem(20);
  }

  .header {
    display: flex;
    align-items: center;
    gap: pxrem(10);
  }

  .heading {
    color: $p-color_brand-main_primary;
    line-height: $line-height_s;
  }

  .required {
    color: $s-color_status_alert;
    @include font($font-size_xs);
  }

  .body {
    display: flex;
    gap: pxrem(10);
  }

  .error {
    display: none;
    gap: pxrem(10);
    color: $s-color_status_alert;
    @include font($font-size_s);
    line-height: $line-height_s;
  }
}

.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxrem(40);
}
.consent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxrem(10);

  .error {
    display: none;
    gap: pxrem(10);
    color: $s-color_status_alert;
    @include font($font-size_s);
    line-height: $line-height_s;
  }

  &[data-modifier='on-error'] {
    .error {
      display: inline;
    }
  }
}
