@use '@/styles/global' as *;

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;

  &[data-modifier='small'] {
    .inner {
      max-width: calc($content_width_small + (pxrem(40) * 2));
    }
  }

  .inner {
    display: flex;
    width: 100%;
    max-width: calc($content_width + (pxrem(40) * 2));
    padding: pxrem(80) pxrem(40);
  }
}
