@use '@/styles/global' as *;

/*********************************
    フッター
*********************************/

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $p-color_brand-main_secondary;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: pxrem(40) pxrem(40);
  }

  .top {
    padding-bottom: pxrem(20);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: pxrem(20);

    img {
      height: pxrem(32);
      width: auto;

      @include media(header-sp) {
        height: pxrem(24);
      }
    }

    p {
      font-family: $font-family_secondary;
      color: $s-color_text_on-fill;
      @include font($font-size_xxl);
      line-height: $line-height_s;
      font-weight: $font-weight_l;

      @include media(sp) {
        @include font(min(pxvw(20), $font-size_xl));
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #ffffff80;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding-top: pxrem(40);
    color: #ffffff80;
    @include font($font-size_xs);
    line-height: $line-height_s;
  }
}
