@use '@/styles/global' as *;

$check-icon: 'data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C!--!Font%20Awesome%20Free%206.6.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202024%20Fonticons%2C%20Inc.--%3E%3Cpath%20fill%3D%22%230054d4%22%20d%3D%22M438.6%20105.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-256%20256c-12.5%2012.5-32.8%2012.5-45.3%200l-128-128c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200L160%20338.7%20393.4%20105.4c12.5-12.5%2032.8-12.5%2045.3%200z%22%2F%3E%3C%2Fsvg%3E';

.formCheckboxGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: pxrem(10);
}

.formCheckbox {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;

  .input {
    width: 0;
    height: 0;

    &:focus + .icon {
      outline: 2px solid $s-color_border_focused;
    }

    &:checked + .icon {
      border-color: $p-color_brand-main_primary;

      &::before {
        display: block;
      }
    }
  }

  .icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: pxrem(18);
    height: pxrem(18);
    margin-right: pxrem(10);
    border: 2px solid $p-color_brand-main_fifthary;
    border-radius: 4px;

    &::before {
      content: url($check-icon);
      display: none;
      position: absolute;
      top: pxrem(-7);
      width: pxrem(10);
    }
  }

  .text {
    line-height: $line-height_s;
  }
}
