@use '@/styles/global' as *;

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $z-index_loading;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-modifier='active'] {
    opacity: 1;
    visibility: visible;
  }

  &[data-modifierAnime='active'] {
    animation: fadeOut 0.3s 1.3s forwards;

    .background {
      animation: backgroundFadeOut 0.8s 1s forwards;
    }

    .logo {
      .logoLeft {
        animation: blink 0.1s 0s 2 alternate, moveLeft 0.5s 0.8s forwards;
      }
      .logoRight {
        animation: blink 0.1s 0s 2 alternate, moveRight 0.5s 0.8s forwards;
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $p-color_brand-main_quaternary;
  }

  .logo {
    display: flex;
    transform: scale(0.3);
    width: 400px;
    height: auto;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition_high;

    &[data-modifier='active'] {
      opacity: 1;
      visibility: visible;
    }
  }

  .logoLeft {
    width: 130px;
    height: auto;
    transform: translateX(95px);
  }

  .logoCenter {
    width: 180px;
    height: auto;
  }

  .logoRight {
    width: 128px;
    height: auto;
    transform: translateX(-95px);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes backgroundFadeOut {
  to {
    opacity: 0;
  }
}

@keyframes moveLeft {
  to {
    transform: translateX(40px);
  }
}

@keyframes moveRight {
  to {
    transform: translateX(-40px);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
