@use '@/styles/global' as *;

.formText {
  width: 100%;
  padding: pxrem(5) pxrem(10);
  background-color: $p-color_white;
  border: 1px solid $s-color_border_field;
  border-radius: 8px;

  &::placeholder {
    color: $s-color_text_place-holder;
  }

  &:focus {
    padding: calc(pxrem(5) - 1px) calc(pxrem(10) - 1px);
    border: 2px solid $s-color_border_focused;
    outline: none;
  }

  &[data-modifier='400'] {
    max-width: 400px;
  }
}
