@use '@/styles/global' as *;

.pagetop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: max(pxrem(60), ((100% - $content_width) / 2) - pxrem(80));
  bottom: 20px;
  width: pxrem(60);
  height: pxrem(60);
  background-color: $p-color_brand-main_primary;
  border-radius: 8px;
  z-index: $z-index_pagetop;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition_high, background-color $transition_high;

  &[data-modifier='active'] {
    opacity: 0.5;
    visibility: visible;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 1;

      .icon {
        transform: scale(1.3);
      }
    }
  }

  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      opacity: 1;

      .icon {
        transform: scale(1.3);
      }
    }
  }

  @include media(sp) {
    right: pxrem(20);
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  p {
    margin-top: pxrem(2);
    font-family: $font-family_secondary;
    color: $p-color_white;
    @include font($font-size_xs);
    line-height: $line-height_s;
    letter-spacing: $letter-spacing_m;
    font-weight: $font-weight_r;
  }

  .icon {
    margin-top: pxrem(-2);
    color: $p-color_white;
    @include font(pxrem(24));
    transition: $transition_high;
  }
}
