@use '@/styles/global' as *;

.headingTopEng {
  font-family: $font-family_secondary;
  color: $p-color_brand-main_primary;
  @include font(min(pxvw(96), pxrem(96)));
  line-height: $line-height_s;
  font-weight: $font-weight_l;
  display: flex;
  overflow: hidden;

  @include media(sp) {
    @include font(min(pxvw(72), pxrem(72)));
  }

  &[data-modifierView='active'] {
    span {
      transform: translate(0, 0);
    }
  }

  &[data-modifierColor='white'] {
    color: $s-color_text_on-fill;
  }

  span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }

  span {
    @for $i from 1 through 13 {
      &:nth-child(#{$i + 1}) {
        $delay: $i * 0.1 + s;
        transition-delay: $delay;
      }
    }
  }
}

.headingEng {
  position: relative;
  width: fit-content;
  font-family: $font-family_secondary;
  color: $p-color_brand-main_primary;
  @include font(min(pxvw(64), pxrem(64)));
  line-height: $line-height_s;
  font-weight: $font-weight_l;

  @include media(sp) {
    @include font(min(pxvw(48), pxrem(48)));
  }

  &[data-modifierView='active'] {
    &::after {
      animation: borderSlide 1s ease forwards; // ボーダーのアニメーション
    }
  }

  &[data-modifierColor='white'] {
    color: $s-color_text_on-fill;

    &::after {
      background-color: $s-color_text_on-fill; // ボーダーの色
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $p-color_brand-main_primary; // ボーダーの色
  }
}

@keyframes borderSlide {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0; // 完全に表示された後、消える
  }
}
